.navbar-container {
  width: 100%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  position: sticky;
  z-index: 2;
  height: 100px;
  display: flex;  
  scroll-margin-top: 200px;
}

.navbar-container.open {
  background-color: rgba(0, 0, 0, 0.95);
}

.navbar-container .menubar-container {
  width: 85%;
  margin:  auto ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.navbar-container .menubar-container .logo-container img {
  width: 50px;
  height: 100%;
}

.navbar-container .burger {
  display: block;
  padding: 15px 0;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  margin-right: 20px;
  display: none;
}

.navbar-container .burger i.fa-xmark {
  display: block;
  transform: rotate(90deg);
}

.navbar-container nav {
  display: flex;
  /* height: 60px; */
  line-height: 50px;
  /* padding: 0 15px; */
  gap: 2rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  transition: 0.4s ease;
}

.navbar-container nav.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 100px;
  height: 100vh;
  width: 40%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  z-index: 2;
  padding: 2rem;
}

.navbar-container nav .active,
.navbar-container nav a:hover {
  border-bottom: 4px solid  #60A5FA;
}

.navbar-container nav.open a:hover {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .navbar-container nav {
    display: none;
  }

  .navbar-container .burger {
    display: block;
  }

  .navbar-container.open nav {
    display: flex;
  }

  .navbar-container.open nav a {
    color: white;
  }

  .navbar-container.open nav a:hover {
    color: var(--backgroundLightBlue);
  }
}


/* Media queries */
@media screen and (max-width: 1200px) {
  /* Adjustments for medium-sized screens */
}

@media screen and (max-width: 992px) {
  /* Adjustments for smaller screens */
}

@media screen and (max-width: 768px) {
  /* Adjustments for tablets and smaller screens */
  .navbar-container .menubar-container {
    width: 100%; /* Adjust width for smaller screens */
    padding: 0 20px; /* Add padding to menubar */
  }

  .navbar-container .burger {
    display: block; /* Display burger icon */
  }

  .navbar-container nav {
    display: none; /* Hide nav links by default on smaller screens */
    flex-direction: column; /* Stack nav links vertically */
    gap: 1rem; /* Add gap between nav links */
    position: absolute;
    top: 60px; /* Adjust top position to match navbar height */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 2rem;
    z-index: 2;
  }

  .navbar-container.open nav {
    display: flex; /* Show nav links when navbar is open */
  }

  .navbar-container.open nav a {
    color: white;
  }

  .navbar-container.open nav a:hover {
    color: var(--backgroundLightBlue);
  }

  .navbar-container nav .active,
  .navbar-container nav a:hover {
    border-bottom: none; /* Remove bottom border on hover */
  }
}

@media screen and (max-width: 576px) {
  /* Adjustments for smaller screens */
}

