/* .sectionTitle {
    width: 200px;
    border-bottom: 3px solid  #f23a1d;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto ;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

.sectionTitle::after{
    display: inline-block;
    position: absolute;
    width: 5%;
    height: 4px;
    margin: 0 auto;
    background-color: #60A5FA;
} */