.sectionTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto ;
    position: relative;
    padding: 1px 0;
    text-transform: uppercase;
}


.title hr{
    border: none;
    border-bottom: 3px solid #60A5FA;
    width: 50px;
    margin-top: -5px;
    align-items: center;

} 